--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
@import "minima";
@import "typography";
@import "background-pattern";

$pageTopMargin: 4em;

main {
    margin-top: $pageTopMargin;
}

h1 {
    font-family: $headerFont;
    font-size: $headerSize;
}

article {
    margin-bottom: 1em;
    text-indent: 2em;
}

.portrait {
    width: 250px;
    height: 250px;
}

.entry {
    .heading {
        padding: 1rem;
        font-family: $headerFont;
        font-size: 2.5em;
    }

    .info {
        display: flex;
        .column {
            width: 50%;
            padding: 1rem;
        }

    }
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.centered {
    text-align: center
}

.top-bordered {
   border-top-style: double;
   border-top-color: #00000055;
}

.bottom-bordered {
   border-bottom-style: double;
   border-bottom-color: #00000055;
}